header {
  width: 100vw;
  height: 300px;
  display: flex;
  flex-direction: column;
}
header img {
  width: 100vw;
  height: 500px;
}
.meal {
  background-color: aliceblue;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  padding: 20px;
}
.meal p {
  margin: 20px;
}
